aws_region        = "us-east-2"
project_name      = "atividade6"
db_name           = "postgres"
db_username       = "postgres"
db_password       = "TROQUE-POR-UMA-SENHA-FORTE"
db_instance_class = "db.t4g.micro"
